<div class="main-wrapper">
  <div class="header">
    <div class="spare">></div>
    <div class="spare chassis">555666</div>
    <div class="spare datetime">31/12/2020 07:05:30</div>
  </div>
  <div class="pic">
    <div class="pic-wrapper">
      <img src="../assets/images/image.jpg" alt="../assets/images/image.jpg">
    </div>
  </div>
  <div class="buttons">
    <button class="reject">REJEITAR</button>
    <button id="confirm" class="confirm">APROVAR</button>
  </div>
  <div class="time">
    <div class="time-bar"></div>
  </div>
</div>